@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

footer {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

header {
  background-color: brown;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header div.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 10px;
}
header div.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  column-gap: 10px;
}